# build
.vscode

# source: multi_ringbuf_output
/multi_ringbuf_output/.output
/multi_ringbuf_output/case[1-99]

# source: multi_ringbuf_reserve
/multi_ringbuf_reserve/.output
/multi_ringbuf_reserve/case[1-99]

# source: single_ringbuf
/single_ringbuf_reserve/.output
/single_ringbuf_reserve/case[1-99]

# test
/test/stress_test
/test/multi_ringbuf_output/case*.txt
/test/multi_ringbuf_reserve/case*.txt
/test/single_ringbuf_reserve/case*.txt